<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
<head>
    {{ partial "head.html" . }}
</head>
<body>
    {{ partial "nav.html" . }}

    <section id="culture">
      <div class="container">
        <div class="row">
          <div class="col">
            <h3 class="spatious-3">Our Culture</h3>
            <p>
              We leave the place in a better state than we found it
            </p><p>
              The experience is as important as the underlying data
            </p><p>
              We aim at excellency also in the simplest things
            </p><p>
              Our solution is not the easiest nor the hardest
            </p><p>
              We provide innovative solutions
            </p><p>
              Our choices are courageous and effective, working towards the most appropriate solution
            </p><p>
              We foster creative science: inventiveness to reach knowledge
            </p><p>
              Attention to detail is paramount and can never be overlooked
            </p><p>
              We get things done in a timely manner to the best of our possibilities
            </p><p>
              Perfection is impossible to reach, we get asymptotically close to it with arbitrary precision
            </p><p>
              We use our best efforts to deliver what agreed between our client and the team
            </p><p>
              We know how to balance strategy and tactic
            </p><p>
              “Work-life balance” is not a contraposition of two different things: work is an essential part of life
            </p><p>
              We care for our health: mens sana in corpore sano
            </p><p>
              We value personal growth; it contributes to the strength of the whole team
            </p><p>
              Failure is OK as long as we can learn from it
            </p><p>
              We are loyal to each other during all time our paths are crossed
            </p><p>
              We have tasks and responsibilities, not offices and timesheets
            </p><p>
              We promote diversity and gender equality
            </p><p>
              We have utter respect for each other and treat each other as peers
            </p><p>
              We nurture transparency in responsibilities, communication and remuneration
            </p><p>
              Candour is the basis of all our communication, even when uncomfortable
            </p><p>
              We are part of a team and always aware of that, regardless of duties and status
            </p><p>
              We help our colleagues to the best of our possibilities and are not ashamed to get help from them
            </p>
          </div>
        </div>

      </div>
    </section>

    {{ partial "footer.html" . }}
    {{ partial "scripts.html" . }}
</body>
</html>
