<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
<head>
    {{ partial "head.html" . }}
</head>
<body>
    {{ partial "nav.html" . }}

    <section id="style">
      <div class="container">
        <div class="row">
          <div class="col-sm">
            <h3>Logo</h3>
            <p class="bg-light">
              <img src="{{ "images/logos/DEEP.VENTURES.dark.png" | absURL }}" class="img-fluid" alt="{{ .Site.Title }}">
            </p>
            <p class="bg-primary">
              <img src="{{ "images/logos/DEEP.VENTURES.light.png" | absURL }}" class="img-fluid" alt="{{ .Site.Title }}">
            </p>
            <p>Right click then select "Save image as..." to download one</p>

            <h3>Palette</h3>
            <p class="bg-primary text-white">#061442</p>
            <p class="bg-secondary text-light">#f05e52</p>
            <p class="bg-light text-primary">#fbfaf7</p>
            <p>These are defined in the bootstrap theme variables, so just use them as appropriate with
              classes <code>.bg-primary, .bg-secondary, .bg-light, .bg-dark, .text-primary, .text-secondary, .text-light, .text-dark</code></p>

            <h3>Fonts</h3>
            <p>Use <a href="https://fonts.google.com/specimen/Open+Sans">Open Sans</a> for text and <a href="https://fonts.google.com/specimen/Libre+Baskerville">Libre
              Baskerville</a> for titles, these can be used in web format or in a Google Doc directly from Google Fonts, or installed on your machine
              using <a href="https://skyfonts.com/">Skyfonts</a></p>
          </div>
          <div class="col-sm">
            <h3>Display Titles</h3>
            <p class="display-1">.display-1</p>
            <p class="display-2">.display-2</p>
            <p class="display-3">.display-3</p>
            <p class="display-4">.display-4</p>
            <h3>Spacing</h3>
            <p class="bg-light spatious-1"><code>.spatious-1</code></p>
            <p class="bg-light spatious-2"><code>.spatious-2</code></p>
            <p class="bg-light spatious-3"><code>.spatious-3</code></p>
          </div>
        </div>
      </div>
    </section>

    <section id="credits" class="bg-secondary text-white">
      <div class="container">
        <div class="row">
          <div class="col">
            <h3>Credits</h3>
            <p>Design Strategy: <a href="https://krispykrush.com/">KrispyKrush</a></p>
            <p>SVG icons: discussion by Patrick Morrison, Telescope by Symbolon, lego by jon trillana, launch by Gregor Cresnar, Natural by Gregor Cresnar, chevron down by Hector M, all from the Noun Project
            <p>Mountain background from unsplash</p>
            </p>
          </div>
        </div>
      </div>
    </section>
    {{ partial "footer.html" . }}
    {{ partial "scripts.html" . }}
</body>
</html>
