<section id="what" class="bg-primary text-white">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="content text-center">
          <h2 class="spatious-3">What We Do</h2>
          <p class="display-4 spatious-3">We want to build beautiful rugged products and we want to learn and grow with our clients and teams through innovation, quality and ownership.</p>
          <p class="spatious-3 lead">We believe that results are achieved by following a clear and trustworthy process and we see the benefits of reaching our shared goals via 5 phases: Inception, Exploration, Implementation, Activation and Support.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="how" class="bg-secondary text-white">
  <div class="container">
      <div class="row">
        <div class="col-sm">
          <div class="content spatious-3">
            <div class="text-center">
              <img class="spatious-3" src="images/ph_inception.svg" height="60px">
              <h3>Inception</h3>
              <p class="lead">Your problem becomes ours.</p>
            </div>
            <p>We work with your existing team to understand the current status of things, the stakeholders goals and KPI, analyse issues or inefficiencies. We make hypotheses on what is the ideal path to reach the results we set together, while we start drafting an idea of what the final result will be.</p>
          </div>
        </div>
        <div class="col-sm">
          <div class="content spatious-3">
            <div class="text-center">
              <img class="spatious-3" src="images/ph_exploration.svg" height="60px">
              <h3>Exploration</h3>
              <p class="lead">We start tinkering together.</p>
            </div>
            <p>Our conjunct expertise is used to investigate trends, review current and upcoming technologies, build quick prototypes and identify the best solutions. Proof of concept via rapid iterations help to pinpoint the desired outcome.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <div class="content spatious-3">
            <div class="text-center">
              <img class="spatious-3" src="images/ph_implementation.svg" height="60px">
              <h3>Implementation</h3>
              <p class="lead">We do the heavy lifting.</p>
            </div>
            <p>The team is structured, interactions are defined and the product, along with its infrastructure, is built. Features are incrementally developed with a careful assessment of the value generated for each iteration, following a flexible schedule.</p>
          </div>
        </div>
        <div class="col-sm">
          <div class="content spatious-3">
            <div class="text-center">
              <img class="spatious-3" src="images/ph_activation.svg" height="60px">
              <h3>Activation</h3>
              <p class="lead">The products come alive in the real world.</p>
            </div>
            <p>After the final polish and stress tests, the architecture is in place and the software goes live. This is usually the phase when most of the knowledge transfer happens and a handover process makes sure our clients can continue to use the architecture independently.</p>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-sm col-md-6">
          <div class="content spatious-3">
            <div class="text-center">
              <img class="spatious-3" src="images/ph_support.svg" height="60px">
              <h3>Support</h3>
              <p class="lead">We want our kids to keep in touch. </p>
            </div>
            <p>We provide support throughout the solution’s lifecycle while checking things work as expected. We love to discuss how to further evolve the product. We want our business to grow organically with our clients’ needs and expectations through the shared ownership of beautifully crafted digital products.</p>
          </div>
        </div>
      </div>
    </div>
</section>
