<section id="contact" class="bg-secondary text-white">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="text-center">
          <h2 class="spatious-3">Contact</h2>
          <p class="display-4 spatious-3">Get In Touch.</p>
        </div>
        <p>Whether you intend to discuss how we can help your business or you want to join our team, please get in touch. We will be happy to share our vision and understand if we can cross paths for a while.</p>
        <p class="lead">Please write to <a href="mailto:hello@deep.ventures">hello@deep.ventures</a>.</p>
      </div>
    </div>
  </div>
</section>
