<section id="footer" class="bg-primary text-white">
  <div class="container">
      <div class="row">
        <div class="col-sm">
          <ul class="list-unstyled">
            <li><a href="{{ "manifesto/" | absURL }}">Manifesto</a></li>
            <li><a href="{{ "style/" | absURL }}">Style &amp; Credits</a></li>
          </ul>
        </div>
        <div class="col-sm">
          <p>&copy; 2019 Deep Ventures</p>
          <p>Deep.Ventures is a trading name of Deep Studios LTD <br>registered in England &amp; Wales n. 09954253</p>
        </div>
      </div>
    </div>
</section>
