<section id="hero" class="page bg-primary text-white">
  <div class="overlay">
    <a name="top"></a>
  </div>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="text-center">
          <p class="display-1 text-white spatious-2">We design digital platforms from your data</p>
          <div class="spatious-3">
            <img src="images/chevron.svg" width="60px">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="about">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="text-center">
          <h2 class="spatious-3">About</h2>
          <p class="display-4 spatious-3">Deep Ventures covers the whole lifecycle of a digital product, from inception through implementation and support.</p>
          <p class="display-4 spatious-3">We provide consolidated expertise for deployment of web-based software architectures focused on complex analytics, data science and visualization.</p>
        </div>
      </div>
    </div>
  </div>
</section>
