<section id="us">
    <div class="container">
        <div class="row">
            <div class="col">
              <h2 class="spatious-3 text-center">People &amp; Culture</h2>
              <p>Founders and team have proven track record with digital industry leaders such as Pirelli, Google, Bloomberg, Red Bull. Successfully worked with web and cloud based systems for the advertising and manufacturing industries winning many international awards.</p>
              <p>Our culture is immensely important to us as it provides solid foundations for our development. Please check our <a href="{{ "manifesto/" | absURL }}">manifesto</a> to learn more.</p>
            </div>
        </div>
    </div>
</section>
